<h1>Favorite Songs</h1>

<form>
    <p>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </p>
    <p>
        <label for="artist">Artist</label>
        <input type="text" name="artist" id="artist">
    </p>
    <button id="addSong">Add Song</button>
</form>

<ol>
    {{#ach songs}}
    <li>{{this.title}} by {{this.artist}}
        <button class="deleteSong" date-id="{{this.id}}"></button>
    </li>
    {{/each}}
</ol>

<a href="/">Home</a>
<a href="/movies">Movies</a>

<script src="./song.js"></script>